h1 {
    margin:0;
}

.header {
    background: rgb(17, 173, 17);
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:11vh;
    padding:5px;
    padding-right: 10px;
}

.headerLinks {
    margin-right: 20px;
}

.home {
    height:70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.homeMessage {
    width:70%;
    font-size: 3em;
    font-weight: bold;
    padding:20px;
}

.footer {
    background-color: rgb(216, 228, 216);
    min-height:19vh;
    padding:20px;
    color: rgb(98, 104, 97);
}